@model CosmeticShop.Models.Products.ProductContainer

@{
    ViewData["Title"] = "Details";
}

<style>
    body {
        background-color: #1A1310 !important;
    }
</style>

<section class="order-product-element">
    <table class="order-product-container">
        <tr>


            @if (Model.ProductPictures.Pictures.Count() < 2)
            {
                <td class="one">
                    <div class="body-img-one">
                        <div class="img-one">
                            @Html.Raw("<img class='card-img' src=\"data:image/jpeg;base64,"
                        + Convert.ToBase64String(Model.ProductPictures.Pictures[0].ByteImage) + "\" />")
                        </div>
                    </div>

                </td>
            }
            else
            {
                <td>

                    <div class="carusel-element">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                @{
                                    var isActive = true;
                                }
                                @foreach (var item in Model.ProductPictures.Pictures)
                                {
                                    @if (isActive)
                                    {
                                        <div class="carousel-item active">
                                            <div class="card-group">
                                                <div class="card text-center border-0">
                                                    <div class="img-body">
                                                        <img class='card-img'
                                                src="data:image/jpeg;base64, @Convert.ToBase64String(item.ByteImage)" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        isActive = false;

                                    }
                                    else
                                    {
                                        <div class="carousel-item">
                                            <div class="card-group">
                                                <div class="card text-center border-0">
                                                    <div class="img-body">
                                                        <img class='card-img'
                                                src="data:image/jpeg;base64, @Convert.ToBase64String(item.ByteImage)" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                }
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                                <img src="/image/card/arrow-left.png" alt="">

                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                                <img src="/image/card/arrow-right.png" alt="">
                            </a>
                        </div>
                    </div>
                </td>
            }
            <td>
                <div class="text-container">
                    <h2 class="text-title">@Html.DisplayFor(model => model.ProductName)</h2>
                    <hr>
                    <h6 class="text-collection">@Html.DisplayFor(model => model.ProductCategory.Name)</h6>
                    <div class="text-content">
                        <h5 class="text-cost">@Html.DisplayFor(model => model.Cost)<span>руб.коп.</span></h5>
                        <h5 class="title-discrip">Описание товара</h5>
                        <p class="discription">
                            @Html.DisplayFor(model => model.Description)
                        </p>
                        <div class="date-product">
                            @Html.DisplayFor(model => model.CreateDate)
                            @Html.DisplayFor(model => model.ExpirationDate)
                        </div>

                    </div>
                </div>
            </td>
        </tr>
    </table>

</section>
